*{
    margin: 0;
    padding: 0%;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(WallpapersLandingPagina_LoginPagina.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

}

.logo{
    width: 140px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;

}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    align-items: center;
    background-position: center;
    animation: fadeInAnimation ease 3s
    
}

.content h1{
    width: 60%;
    font-size: 30px;
    margin-top: 100px;
    position: relative;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid black;
    background: transparent;
    color:  white;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}

.imageEntertainment{

    margin: 6vw;
    max-width: 240px;
    height: 240px;
    align-items: center;
    justify-content: space-between;
    animation: fadeInAnimation ease 3s
}

#YTLogo{
    border-radius: 25%;

}

.weather{
    margin-top: 10vw;
}

#ww_c125aca3b3adb{
    transform: scale(1.5);
}

.imageEntertainment:hover{
    transform: scale(1.1);
}

.navbar{
    animation: fadeInAnimation ease 3s
}

@keyframes fadeInAnimation {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

.frontimage {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  position: relative;
  opacity: 75%;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -5px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 80px;
}

.waviy span {
  font-family: sans-serif;
  display: inline-block;
  color: black;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
